config.php
routes.php
schedule-*
compiled.php
services.json
events.scanned.php
routes.scanned.php
down



    We received your registration to attend BUSINESS INTELLIGENCE 2018 IBADAN that is slated to hold on the 1st Oct., 2018. The venue for the program is FLT, FACULTY OF SCIENCE, THE UNIVERSITY OF IBADAN. Arrival time is 10 a.m. No African time. 

Call 08162750310 for further information.

Best regards

Ayobami.

RE: BUSINESS INTELLIGENCE 2018 IBADAN ( DETAILS YOU NEED TO KNOW )

Email Address

irinaayo@gmail.com
daniellaamba01@gmail.com
adenola.nifemi001@gmail.com
fattyahmed.hb@gmail.com
leeman4all@icloud.com
adeleyeniyijoshua@gmail.com
adeplenty28@gmail.com
Fatokifemi48@gmail.com
takinmodun@gmail.com
adetipesegun@gmail.com
adesokanmuhammed@gmail.com
aybonny2010@gmail.com
peter_uzowulu@yahoo.com
samhie2awesome@gmail.com
amarachiclifford@gmail.com
ekanemsifonobong@yahoo.com
femidabolaji@gmail.com
favourtayo83@gmail.com
olalekanademola663@gmail.com
dolaposalisu@yahoo.com
akinbodeayomikun@gmail.com
wunmitoyo91@gmail.com
busypoju@gmail.com
tolulopetaofeek@gmail.com
kunlenzy2002@yahoo.com
abiguide@gmail.com
moyinjoe@gmail.com
abefe4real30@yahoo.com
azeez20084u@yahoo.com
jummy2crown@yahoo.com
lfawas6@gmail.com
drrajioyinda@gmail.com
afolabisunday31@yahoo.com
tundefasoranti@gmail.com
odv105@gmail.com
KayodeGabrielA@gmail.com
abondejo@gmail.com
phakoo4real@gmail.com
adejareadesegun@gmail.com
efunkomayaea@gmail.com
moshoodagbomeji@gmail.com
efunkomayaea@gmail.com
yemitanayobami@gmail.com
omowumi2k17@gmail.com
doublehoo1988@gmail.com
exquisiteoutfit88@gmail.com
isaiahoje@gmail.com
lawalomotolani75@gmail.com
geoinfoamas@yahoo.com
khadijatmusa80@gmail.com
osinowo09@yahoo.com
akeem_olaifa2003@yahoo.com
belloadekunle70@gmail.com

..............................

meshioyes@gmail.com
babatundetobi247@gmail.com
okunolaopeoluwa19@gmail.com
asherifdeen89@gmail.com
sukuratadeleye@gmail.com
oladejibukolab@gmail.com
dosumuebun@yahoo.com
padepoju@gmail.com
oladipo.olugbenga@gmail.com
adelekeogunniyi@gmail.com
davidjanet365@gmail.com
oyelamimonsur@yahoo.com
oyelamimansur@gmail.com
arrychem@gmail.com
olupentane@gmail.com
ayodeji.oladokun@yahoo.com
ibukunbusari2000@gmail.com
kaymoney4u93@yahoo.com
festusoluwatosin@gmail.com
opeyemiyemxy93@gmail.com
Peterskills1990@gmail.com
adedayoas91@gmail.com
tuksreal4u@gmail.com
kabirayo@yahoo.com
saicon1221@gmail.com
talentos819@gmail.com
eminentawa@gmail.com
adundamola@gmail.com
toluene2016@gmail.com
champsdre@yahoo.com
gomachine2000@yahoo.com
darrianoitedvessel@gmail.com
awopetuolalekan@gmail.com
gomachine2000@yahoo.com
oyefunmibi@gmail.com
odun4bolem@yahoo.com
gbomisir07@gmail.com
ayokunleosobamiro@gmail.com
arogundadehammed09@gmail.com
amoo.oluwaseun1@gmail.com
oladejiademola431@gmail.com
ayusirat@gmail.com
ayobami.oyekanmi@gmail.com
abosededamilola58@gmail.com
joshkeshy@gmail.com
kanuonyinyechi@gmail.com
greateresther@gmail.com
1stprovidenceblissfulstores@gmail.com
josephinetimmy2002@yahoo.com
Adewuminafisat@gmail.com
Olanrewajusunday86@yahoo.com
motoyinic@gmail.com
akinsumbomichael@gmail.com
treasure4m@gmail.com
johnadetolafadiyo@gmail.com
nobleallies@gmail.com
adenusiabiodin@yahoo.com
Adenijiabass38@gmail.com
dahunsi.florence@yahoo.com
optimistvoa@gmail.com
Adenijiabass38@gmail.com
talktoolu85@gmail.com
hybeekay4voa@gmail.com
olabodeabiodunm@gmail.com
agboowanterl2@gmail.com
Afeezolumide19@gmail.com
salawuhazzan@yahoo.com
tayo.nifes@gmail.com
idiojiakujp@gmail.com
doyekunle89@yahoo.com
ibrahimlawon@gmail.com
bislaw62@gmail.com
youngestsibe84@gmail.com
ogunremistephen@gmail.com
Sandraukatu@gmail.com
uphyinfolu@gmail.com
oyeyemiadedapo@gmail.com
olasupodare@gmail.com
fatokun.emma@gmail.com
Molardey2015@gmail.com
tife990@gmail.com
awise303@yahoo.com
tayoajibola7@gmail.com
abolajic@gmail.com
omobolanlemaal@gmail.com
belloericson@gmail.com
ayodejioladayostc@gmail.com
bolawaoluseun@gmail.com
Jamalsalahudeen@gmail.com
queenesto95@gmail.com
akinsoladavid8@gmail.com
omilodie@gmail.com
abdurrawphew1985@gmail.com
ejenikeazuka@gmail.com
gafkemluvay@gmail.com
aderemiadewuyi@gmail.com
oladipo.olugbenga@gmail.com
adekunledamilare9@gmail.com
azeezsucczeez@gmail.com
tolulope4u2nv@gmail.com
tolulope4u2nv@gmail.com
femiabimbola6@gmail.com
ageneralsam2@gmail.com
Gabrielojebola@gmail.com
adesodeq@gmail.com
ganiyatraji23@gmail.com
korewolu@gmail.com
olaoyebasitoyelekan@gmail.com
modonghoesther@gmail.com
ayzid22@gmail.com
samsonkehinde7@gmail.com
kunmi01@gmail.com
taiwoifeoluwa78@gmail.com
tundebumi@gmail.com
afiasamuel17@gmail.com
ekundayodaniel21@gmail.com
abiola.johnson@outlook.com
wasiuladoja@gmail.com
123ajao@gmail.com
Gabrielojebola@gmail.com
habibatolabisi0@gmail.com
gloriafolashade@yahoo.com
seunakomolafe1@gmail.com
ola.musa006@gmail.com
knbodunayo@yahoo.con
motlycrown@gmail.com
yem.soban@gmail.com
sodiqrashidat93@gmail.com
ak4qudusy@gmail.com
jenoworld.info@gmail.com
jaiyeolaibrahim@yahoo.co.uk
adebayoadeosun10@yahoo.com
Olopadetemitope2018@gmail.com
akinolasanni2@gmail.com
olutolangel@gmail.com
Idrismorenikeji1991@gmail.com
youngabuzaynab@gmail.com
wumix44@gmail.com
wumix44@gmail.com
adigunharminatbim@gmail.com
tijanij25@gmail.com
laideswag@gmail.com
Tobbycares@gmail.com
alimiabeeb007@gmail.com
ogunlowograce1995@gmail.com
oluokunopeyemiayodeji@gmail.com
ademasterpiece@gmail.com
olando42006@gmail.com
yusuff200642@yahoo.com
wetechiict@gmail.com
dactaqas@gmail.com
amudakamorudeen06@gmail.com
Mrbright2017@gmail.com
olaitantaiwo2@gmail.com
mrbright2017@gmail.com
adeniyibolu10@gmail.com
samade452@gmail.com
khadijahkolapo@gmail.con
aderemifaj@gmail.com
jeleeladegbenro@gmail.com
taymiadio@gmail.com
aremukehinde4all@gmail.com
tundealade84@yahoo.com
a.o.peters001@gmail.com
alukochristopher@gmail.com
Okextra4real@gmail.com
festusiyarnuh@gmail.com
fermo4excel@gmail.com
bankoledeborah88@gmail.com
amothertreasury2013@gmail.com
osinowo09@yahoo.com
oluwafunbi3@gmail.com
lucyhelenjones47@gmail.com
lanryaremy01@gmail.com
blessing499@gmail.com
iyiolajeremiah@gmail.com
lateephatb@gmail.com
herleemah66@gmail.com
damilola.okewole2909@gmail.com
adediranadedoyin1@gmail.com
Roakinkunmi@gmail.com
akinboolaseye@gmail.com
adeyemibiola005@gmail.com
temmy4happiness@gmail.com
olakemventure2@gmail.com
gyeyokparah@gmail.com
tolaogun291@gmail.com
shyloseacrest@gmail.com
nonso.izuogu@yaho.com
stephanieeffevottu@yahoo.com
blessing499@gmail.com
etaoghenemudiaga@gmail.com
joyfuljoy244@gmail.com
olabamijiolatoye@gmail.com
1stprovidenceblissfulstores@gmail.com
laticofashionconcept@gmail.com
adetonagboyega694@gmail.com
mhessy199@gmail.com
joshua.oluwafemi@yahoo.com
lekandamola1@gmail.com
mykelajala@gmail.com
olamidealonge00@gmail.com
Hassanshehu120@gmail.com
ooladapo124@stu.ui.edu.ng
maxquality00@gmail.com
owolabiyussuff@gmail.com
farmroyale1@gmail.com
olaitanmusar92@yahoo.com
asuces25@gmail.com
Tormmyjay@gmail.com
aitoighodalo@gmail.com
aitoighodalo@gmail.com
farayolahmed@gmail.com
odunmoyinwin@gmail.com
olugbenga1214@gmail.com
davidadinnu@gmail.com
olatunjiayodamolaoluwap@gmail.com
timothyakujobi@gmail.com
hodunhayor1@gmail.com
tkolude@gmail.com
timileyin.olabajo@gmail.com
omotooyosiolaoye@gmail.com
arowosolalawrence@yahoo.com
fortuneabazie@gmail.com
rajibadiratdam@gmail.com
rajibadiratdam@gmail.com
rajibadiratdam@gmail.com
goldenson797@gmail.com
teekaytk4@gmail.com
radeeyahajuwon@yahoo.com
elisabethndifreke.jm@gmail.com
deborahajagbe03@gmail.com
adeniji191@gmail.com
seni.femi31@gmail.com
oyelolabukunmi@gmail.com
almubaraktemyytee@gmail.com
ijeomavictoria395@gmail.com
iblessing66@gmail.com
ajiboladavid08@gmail.com
dairoopeyemi97@gmail.com
funtee915@gmail.com
mercyoluwasemilore@gmail.com
olalekanoke4@gmail.com
kabirmailing@gmail.com
ejames493@stu.ui.edu.ng
segunogunlana95@yahoo.com
lordfaith001@gmail.com
maxquality00@gmail.com
idiojiakujp@gmail.com
sanmidprince@gmail.com
Akintundeoluwatoyin972@gmail.com
captainjosy9@gmail.com
aduragbemisoladeborah@gmail.com
adebisi.omotoyinbo@yahoo.com
adesewaaleem4@gmail.com
princetobiloba@gmail.com
dehmyteds@gmail.com
caleboluwapelumi@gmail.com
oreofekasali2017@gmail.com
oreofekasali2017@gmail.com
padepoju@gmail.com
omotooyosilaoye@gmail.com
ofoegbuuche44@gmail.com
ogbolahan02@gmail.com
bolawasmart@gmail.com
olabeny98@yahoo.com
dorcasmoyin16@gmail.com
aderemiadewuyi@gmail.com
damilak93@gmail.com
ojoemmanuel105@gmail.com
envoyvendors@gmail.com
oreoluwasimi02@gmail.com
eniolaoladini@gmail.com
jimohibrahimalao@gmail.com
zephyrinstinct@gmail.com
obafemiowolabiayo@gmail.com
obafemiowolabiayo@gmail.com
daviscoco54@gmail.com
mustaphakayodeemmanuel@gmail.com
olamideadurota@gmail.com
olamideadurota@gmail.com
oluwakemirasidat@gmail.com
jaylarsh@gmail.com
tkolude@gmail.com
damilaretolu@gmail.com
betterdaysahead191660@gmail.com
johnajala10@gmail.com



































































































